<div class="card ">
    <div class="grid">
        <div class="col-11 ml-2">
            <h6>Guest Name: {{bookingItem.guestName ?? defaultValue}}</h6>
        </div>
        <div class="col-11 ml-2">
            <h6>From: {{bookingItem.checkInDate | date}} &nbsp;&nbsp;&nbsp; To: {{bookingItem.checkOutDate | date}}</h6>
        </div>
        <div class="col-11 ml-2">
            <h6>Room Number: 23</h6>
        </div>
        <div class="col-11 ml-2">
            <h6>Created: {{bookingItem.created ?? defaultValue}}</h6>
        </div>
    </div>
  </div>